DialogMarker 
{
    width: 18px;
    height: 18px;
    background-image: resource("Assets/HorrorEngine/Scripts/Editor/Resources/LookIcon.png");
}

DialogMarker:checked
{
    background-image: resource("Assets/HorrorEngine/Scripts/Editor/Resources/LookIcon.png");
}

DialogMarker:hover:focus:checked
{
    background-image: resource("Assets/HorrorEngine/Scripts/Editor/Resources/LookIcon.png");
}
